* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
}

$primary-gradient-start: pink;
$primary-gradient-end: #ffddff;

.App {
  padding: 10px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(135deg, $primary-gradient-start 0%, $primary-gradient-end 100%);
}